body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 2em;
}

footer {
    clear: both;
    min-height: 60px;
    border-top: 1px solid #ccc;
    font-size: 0.8em;
}

h1 {
    border-bottom: 1px solid #ccc;
}

h3 {
    color: #555;
}

.doc_title {
    color: #6c266f
}

code {
    font-size: 13pt;
    background: #f2f2f2;
    padding-left: 4px;
    padding-right: 4px;
}

pre {
    padding: .5em 1em;
    background: #f2f2f2;
    overflow-x: auto;
    max-width: 50em;
}

pre>code {
    padding: 0
}

blockquote {
    margin: 16px 20px;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

td {
    border: 1px solid #ccc;
    padding: 8px;
}

img.screenshot {
    border: 1px solid black;
    max-width: 90%;
}

#navbar .container-fluid {
    padding: 0
}

a.navbar-brand {
    font-size: 2.25rem;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.curriculum_content {
    height: calc(100vh - 6rem);
    overflow-y: auto;
}

.console {
    margin: 10px 0;
}

.console pre {
    background-color: black;
    color: white;
    padding: .5em 1em;
    margin: 0;
    border-style: solid;
    border-width: 4px;
}

#navbarNavAltMarkup {
    flex-grow: 0;
}

.label {
    display: inline-block;
    font-size: 8pt;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.2em 0.5em;
    text-transform: uppercase;
}

.console.irb .label {
    background-color: #EC635C;
}

.console.irb pre {
    border-color: #EC635C;
}

.console.terminal .label {
    background-color: #82DCFF;
}

.console.terminal pre {
    border-color: #82DCFF;
}

.result pre {
    border: 4px solid #dde;
}

.model-diagram {
    margin: 0 auto;
    border-collapse: collapse;
}

.model-diagram th {
    background-color: lightblue;
}

.model-diagram td {
    border: 1px solid black;
}
