---
layout: default
---
<div class="navigation">
    <ul>
        <li><a href="/intro-to-rails">Intro To Rails</a></li>
        <li><a href="/intro-to-rails/ruby_language">Ruby Language</a></li>
        <li><a href="/intro-to-rails/creating_a_rails_application">Creating A Rails Application</a></li>
        <li><a href="/intro-to-rails/running_your_application_locally">Running Your Application Locally</a></li>
        <li><a href="/intro-to-rails/creating_a_migration">Creating A Migration</a></li>
        <li><a href="/intro-to-rails/rails_architecture">Rails Architecture</a></li>
        <li><a href="/intro-to-rails/CRUD_with_scaffolding">CRUD With Scaffolding</a></li>
        <li><a href="/intro-to-rails/setting_the_default_page">Setting The Default Page</a></li>
        <li><a href="/intro-to-rails/voting_on_topics">Voting On Topics</a></li>
        <li><a href="/intro-to-rails/hooking_up_votes_and_topics">Hooking Up Votes And Topics</a></li>
        <li><a href="/intro-to-rails/allow_people_to_vote">Allow People To Vote</a></li>
        <li><a href="/intro-to-rails/redirect_to_the_topics_list_after_creating_a_new_topic">Redirect To The Topics List After Creating A New Topic</a></li>
        <li><a href="/intro-to-rails/make_the_topic_title_a_link">Make The Topic Title A Link</a></li>
        <li><a href="/intro-to-rails/clean_up_links_on_the_topics_list">Clean Up Links On The Topics List</a></li>
        <li><a href="/intro-to-rails/credits_and_next_steps">Credits And Next Steps</a></li>
    </ul>
</div>

<div class="curriculum_content">
    {{ content }}
</div>
