---
layout: default
---

<div class="row">
    <div class="navigation col-3">
        <ul>
            <li>{% if page.url == "/intro-to-rails/" %}Intro To Rails{% else %}<a href="../intro-to-rails/">Intro To Rails</a>{% endif %}</li>
            <li>{% if page.url == "/intro-to-rails/ruby_language.html" %}Ruby Language{% else %}<a href="ruby_language">Ruby Language</a>{% endif %}</li>
            <li>{% if page.url == "/intro-to-rails/creating_a_rails_application.html" %}Creating A Rails Application{% else %}<a href="creating_a_rails_application">Creating A Rails Application</a>{% endif %}</li>
            <li>{% if page.url == "/intro-to-rails/running_your_application_locally.html" %}Running Your Application Locally{% else %}<a href="running_your_application_locally">Running Your Application Locally</a>{% endif %}</li>
            <li>{% if page.url == "/intro-to-rails/creating_a_migration.html" %}Creating A Migration{% else %}<a href="creating_a_migration">Creating A Migration</a>{% endif %}</li>
            <li>{% if page.url == "/intro-to-rails/rails_architecture.html" %}Rails Architecture{% else %}<a href="rails_architecture">Rails Architecture</a>{% endif %}</li>
            <li>{% if page.url == "/intro-to-rails/CRUD_with_scaffolding.html" %}CRUD With Scaffolding{% else %}<a href="CRUD_with_scaffolding">CRUD With Scaffolding</a>{% endif %}</li>
            <li>{% if page.url == "/intro-to-rails/setting_the_default_page.html" %}Setting The Default Page{% else %}<a href="setting_the_default_page">Setting The Default Page</a>{% endif %}</li>
            <li>{% if page.url == "/intro-to-rails/voting_on_topics.html" %}Voting On Topics{% else %}<a href="voting_on_topics">Voting On Topics</a>{% endif %}</li>
            <li>{% if page.url == "/intro-to-rails/hooking_up_votes_and_topics.html" %}Hooking Up Votes And Topics{% else %}<a href="hooking_up_votes_and_topics">Hooking Up Votes And Topics</a>{% endif %}</li>
            <li>{% if page.url == "/intro-to-rails/allow_people_to_vote.html" %}Allow People To Vote{% else %}<a href="allow_people_to_vote">Allow People To Vote</a>{% endif %}</li>
            <li>{% if page.url == "/intro-to-rails/redirect_to_the_topics_list_after_creating_a_new_topic.html" %}Redirect To The Topics List{% else %}<a href="redirect_to_the_topics_list_after_creating_a_new_topic">Redirect To The Topics List</a>{% endif %}</li>
            <li>{% if page.url == "/intro-to-rails/make_the_topic_title_a_link.html" %}Make The Topic Title A Link{% else %}<a href="make_the_topic_title_a_link">Make The Topic Title A Link</a>{% endif %}</li>
            <li>{% if page.url == "/intro-to-rails/clean_up_links_on_the_topics_list.html" %}Clean Up Links On The Topics List{% else %}<a href="clean_up_links_on_the_topics_list">Clean Up Links On The Topics List</a>{% endif %}</li>
            <li>{% if page.url == "/intro-to-rails/credits_and_next_steps.html" %}Credits And Next Steps{% else %}<a href="credits_and_next_steps">Credits And Next Steps</a>{% endif %}</li>
        </ul>
    </div>

    <div class="curriculum_content col-9">
        {{ content }}
    </div>
</div>
