---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo title=false %}
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="{{ "/assets/stylesheets/application.css?v=" | append: site.github.build_revision | relative_url }}">
    <title>{{ page.title }}</title>
</head>

<body>
    <div>
        <div id="navbar">
            <div>
                <h1 class="siteTitle"><a href="/">RailsBridge Boston Docs</a></h1>
            </div>
        </div>

        {{ content }}


        <footer>
            <p>RailsBridge Docs is maintained by RailsBridge volunteers.</p>
            <p>If you find something that could be improved, please make a <a href="https://github.com/railsbridge-boston/docs">pull request </a>or <a href="https://github.com/railsbridge-boston/docs/issues/new">drop us a note </a>via GitHub Issues (no technical knowledge required).</p>
            <p>Source: <a href="https://github.com/railsbridge-boston/docs">https://github.com/railsbridge-boston/docs</a></p>
        </footer>
    </div>
</body>

</html>
